data
build
*.pyc
*.swp
.cache
.ipynb_checkpoints
*.bbl
*-blx.bib
*.swp
*.aux
*.log
*.out
*.run.xml
*.blg
*.bcf
*.synctex.gz
*.fls
*.fdb_latexmk
*.swo
*#
*.toc
.doit*
*.egg-info
doc/_build
doc/auto_examples
doc/generated
